**/*.env
.git
.github
.husky
coverage
logs
node_modules
.dockerignore
.editorconfig
.eslintrc.cjs
.gitignore
.lintstagedrc.json
.prettierignore
.prettierrc.js
compose-test.yaml
compose.yaml
compose-health-test.yaml
Dockerfile
README
server-dev-only.cert
server-dev-only.key
 .env.healthcheck.testing